<div class="assessment-container">

  <h2>Technical Assessment</h2>

  @for (q of questions; track q.id) {
    <div class="question-card">

      <h4>{{ q.id }}. {{ q.question }}</h4>

      @for (option of q.options; track option) {
        <div>

          <label>
            <input
              type="radio"
              [name]="'question' + q.id"
              [value]="option"
              [checked]="answers[q.id] === option"
              (change)="answers[q.id] = option">

            {{ option }}
          </label>

        </div>
      }

    </div>
  }

  <button (click)="submitAssessment()">
    Submit Assessment
  </button>
</div>